/* custom css */

body, html {
    height: 100%;
}

body {
    background-image: url("assets/images/old_map.png");
    text-align: center;
}

.header {
    border: 2px solid black;
}

.container {
    height: 100%;
}

.row-custom {
    height: 105%;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 44px;
}

h2, h3, h4, h5, p {
    font-family: 'Bitter', serif;
}

h2 {
    text-shadow: 2px 2px grey;
}

#attempts, #letters-guessed {
    color: red;
}